// Content

a {
	h5 {
		color: inherit;
	}
	&.even, &.odd {
		display: block;
		border-bottom: 1px solid #ddd;
		padding: 15px 0;
		-webkit-transition: 300ms ease-out;
		-moz-transition: 300ms ease-out;
		-ms-transition: 300ms ease-out;
		-o-transition: 300ms ease-out;
		transition: 300ms ease-out;

		&:hover {
			background: #ddd;
		}
	}
	&.even {
		background: #eee;
	}
}

.node {
	h5 {
		color:#ca345e;
	}
}

.warning.label {
	background: #f29810;
}