// Header

.contain-to-grid {
	border-bottom: 5px solid darken($primary-color, 10%);
}

.top-bar {
	a img {
		margin-top: 7px;
		max-width: 200px;
	}

	#nav-divide {
		border-right: 1px solid darken($primary-color, 10%);
	}
}

.contain-to-grid {
	margin-bottom: 25px;
	.top-bar  {
		margin-bottom: 0;
	}
}

.home .contain-to-grid {
	margin-bottom: 0;
}

.suburb_name {
	margin-top: 0;
}

#feature {
	background: url("../images/skyline.jpg") no-repeat center fixed;
	padding-top: 250px;
	margin-bottom: 35px;
	color: #FFF;
	h1 {
		color: #FFF;
		font-weight: 100;
		display: inline-block;
		background: rgba($primary-color, 0.8);
		border-bottom: 15px solid darken($primary-color, 10%);
		padding: 15px;
	}
}

ul .has-form {
	float:left;
}

#nav-divide {
	margin-right:20px;
	margin-left:20px;
	float:left;
	height:45px;
	border-right:1px solid lighten(#333333, 45%);
}

ul .has-form form #searchText {
	width:200px;
	float:left;
	height:30px;
	padding-right:25px;
}

ul .has-form form #searchSub {
	margin-left:-25px;
	height:30px;
	width:22px;
	border:none;
	float:left;
	background:none;
	background-image:url("../images/search.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
