// Header

.contain-to-grid {
	border-bottom: 5px solid darken($primary-color, 10%);
}

.top-bar {
	a img {
		margin-top: 7px;
	}
}

.top-bar  {
	margin-bottom: 0;
}

#feature {
	background: url("../images/skyline.jpg") no-repeat center fixed;
	padding-top: 250px;
	margin-bottom: 35px;
	color: #FFF;
	h1 {
		color: #FFF;
	}
}

.restaurant_node {
	height:400px;
	img {
		float:left;
		margin-right:10px;
	}

	h1 {
		font-size:18px;
		color:#ca345e;
	}

	p {
		font-size:12px;
	}

	a {

	}


}