// Header

.contain-to-grid {
	border-bottom: 5px solid darken($primary-color, 10%);
	.top-bar {
		margin-bottom: 0;
		a img {
			margin-top: 7px;
		}
	}
}

body.page {
	.contain-to-grid {
		margin-bottom: 25px;
	}
}

#feature {
	background: url("../images/skyline.jpg") no-repeat center fixed;
	padding-top: 250px;
	margin-bottom: 35px;
	color: #FFF;
	.header {
		background: #ca345e;
		border-bottom: 10px solid #a12a4b;
		h1 {
			padding-bottom: 0;
			margin-bottom: 0;
			font-size: 37px;
			color: #FFF;
		}
	}
}